body {
  background-image:url('sky.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;/*back img fixed when scroll down*/
}

ul {
  list-style-type: none;
  max-width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1570c9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #93d8ff;
}

h1{
  color:white;
}

h1#left{
text-align:left;
margin-left:200px;
}

.intro{
  margin:25px 70px ;
  outline:2px solid #1570c9;
  background-color: #1570c9;
  color: white;
  padding: 10px;
  border-left:10px solid #7fceff;
  border-top:6px solid #7fceff;
  font-size:17px;
  letter-spacing:2px;
}